.form-group {
    margin-bottom: 15px
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #4caf50
}
.has-success .form-control {
    border-color: #4caf50;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.has-success .form-control:focus {
    border-color: #3d8b40;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #92cf94;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #92cf94
}
.has-success .input-group-addon {
    color: #4caf50;
    border-color: #4caf50;
    background-color: #dff0d8
}
.has-success .form-control-feedback {
    color: #4caf50
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #ff9800
}
.has-warning .form-control {
    border-color: #ff9800;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.has-warning .form-control:focus {
    border-color: #cc7a00;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffc166;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffc166
}
.has-warning .input-group-addon {
    color: #ff9800;
    border-color: #ff9800;
    background-color: #ffe0b2
}
.has-warning .form-control-feedback {
    color: #ff9800
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #e51c23
}
.has-error .form-control {
    border-color: #e51c23;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.has-error .form-control:focus {
    border-color: #b9151b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ef787c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ef787c
}
.has-error .input-group-addon {
    color: #e51c23;
    border-color: #e51c23;
    background-color: #f9bdbb
}
.has-error .form-control-feedback {
    color: #e51c23
}
.has-feedback label~.form-control-feedback {
    top: 28px
}
.has-feedback label.sr-only~.form-control-feedback {
    top: 0
}
.has-warning input:not([type=checkbox]),
.has-warning .form-control,
.has-warning input.form-control[readonly],
.has-warning input[type=text][readonly],
.has-warning [type=text].form-control[readonly],
.has-warning input:not([type=checkbox]):focus,
.has-warning .form-control:focus {
    border-bottom: none;
    -webkit-box-shadow: inset 0 -2px 0 #ff9800;
    box-shadow: inset 0 -2px 0 #ff9800
}
.has-error input:not([type=checkbox]),
.has-error .form-control,
.has-error input.form-control[readonly],
.has-error input[type=text][readonly],
.has-error [type=text].form-control[readonly],
.has-error input:not([type=checkbox]):focus,
.has-error .form-control:focus {
    border-bottom: none;
    -webkit-box-shadow: inset 0 -2px 0 #e51c23;
    box-shadow: inset 0 -2px 0 #e51c23
}
.has-success input:not([type=checkbox]),
.has-success .form-control,
.has-success input.form-control[readonly],
.has-success input[type=text][readonly],
.has-success [type=text].form-control[readonly],
.has-success input:not([type=checkbox]):focus,
.has-success .form-control:focus {
    border-bottom: none;
    -webkit-box-shadow: inset 0 -2px 0 #4caf50;
    box-shadow: inset 0 -2px 0 #4caf50
}
.has-warning .input-group-addon,
.has-error .input-group-addon,
.has-success .input-group-addon {
    color: #666666;
    border-color: transparent;
    background-color: transparent
}